/* About.css */


.about-container {
    font-family: 'Playfair Display', serif;
    width: 90%;
    max-width: 75vw;
    margin: 20px auto;
    margin-left: 300px; /* Ajusta este valor según el ancho de tu menú lateral */
    position: relative;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .about-container {
      margin-left: 50px; /* Reduce el margen izquierdo para dispositivos móviles */
    }
    
    .detail {
      flex-direction: column;
    }
  
    .detail p {
      flex: 1 1 100%;
    }
  
    .skills {
      flex-direction: column;
    }
  
    .tools {
      flex: 1 1 100%;
    }
  }
  

.about-content {
  text-align: center;
  margin-bottom: 30px;
}

.about-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #05305e;
}

.about-content p {
  font-size: 1.1em;
  line-height: 1.6;
}

.about-details h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #05305e;
}

.detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.detail p {
  font-size: 1em;
  margin: 5px 0;
  flex: 1 1 45%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tools {
  list-style: none;
  padding: 0;
  margin: 10px;
  flex: 1 1 30%;
}

.tools li {
  font-size: 1em;
  margin: 5px 0;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .detail {
    flex-direction: column;
  }

  .detail p {
    flex: 1 1 100%;
  }

  .skills {
    flex-direction: column;
  }

  .tools {
    flex: 1 1 100%;
  }
}
